* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kdam Thmor Pro', monospace;
    background-image: linear-gradient(#24631b, #174211);
    color: red;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

button {
    font-family: inherit;
    text-transform: uppercase;
    background-color: #facc20;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
}

span {
    background-color: #24631b;
    color: white;
    font-size: 1.5em;
}

header {
    text-align: center;
}

#dimmer-mask {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: opacity 1s ease;
}

#game-ui {
    margin: 0 auto;
    max-width: 450px;
    width: 100%;
    height: 100%;
    text-align: center;
}

#displays {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#main-display {
    position: relative;
}

#game-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    height: auto;
    aspect-ratio: 4 / 5;
    background-color: green;
    box-sizing: border-box;
    position: relative;
}

/* End of level display styling */
#end-of-level-display {
    position: absolute;
    background-color: transparent;
    top: 0;
    margin-top: 150px;
    left: 0;
    right: 0;
    color: #facc20;
    font-size: 3rem;
    z-index: 5;
    display: none;
}

#end-level-message {
    text-align: center;
}

#game-complete-button {
    display: none;
}

#begin-again {
    font-size: 2rem;
}

#controls {
    width: 100%;
    box-sizing: border-box;
}

#progress-display {
    width: 100%;
    margin-bottom: 10px;
}

#sheep-remaining, #sheep-remaining-text {
    font-weight: bolder;
    font-size: 2.5rem;
}

#time-display {
    width: 100%;
    text-align: center;
}
#time-remaining[value] {
    --color: #facc42; /* the progress color */
    --background: #333333; /* the background color */
  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 80%;
    height: 39px;
    margin: 10px auto 10px auto;
    border-radius: 20px;
    background: var(--background);
}

#time-remaining[value]::-webkit-progress-bar {
    border-radius: 20px;
    background: var(--background);
}

#time-remaining[value]::-webkit-progress-value {
    border-radius: 20px;
    background: var(--color);
}

#time-remaining[value]::-moz-progress-bar {
    border-radius: 20px;
    background: var(--color);
}

#bark-button {
    width: 50%;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bolder;
}

#action-replay, #try-again {
    font-size: 1.2rem;
}

#next-level {
    font-size: 1.6rem;
}



#play {
    display: none;
}

.fa-pause, .fa-play {
    font-size: 1.5rem;
}

/* Action Replay elements styling */
.replay-button {
    font-size: 1rem;
}

#action-replay-display {
    display: none;
}

#replay-banner {
    position: absolute;
    left: 20px;
    top: 10px;
    display: none;
}

#replay-time {
    position: absolute;
    font-family: monospace;
    font-weight: bolder;
    right: 35px;
    top: 20px;
    color: #facc20;
    background-color: transparent;
    display: none;
}


footer {
    position: absolute;
    bottom: 0;
}
