* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    background-color: black;
    color: red;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: none;
}

button {
    font-family: inherit;
    text-transform: uppercase;
    background-color: orange;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
}

span {
    background-color: black;
    color: blue;
    font-size: 1.5em;
}

header {
    text-align: center;
}

#game-ui {
    margin: 0 auto;
    max-width: 450px;
    width: 100%;
    height: 100%;
    text-align: center;
}

#displays {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#main-display {
    position: relative;
}

#game-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    height: auto;
    aspect-ratio: 0.8;
    background-color: green;
    box-sizing: border-box;
    position: relative;
}

#end-of-level-display {
    position: absolute;
    background-color: transparent;
    top: 0;
    margin-top: 150px;
    left: 0;
    right: 0;
    color: orange;
    font-size: 3rem;
    z-index: 5;
    display: none;
}

#end-level-message {
    text-align: center;
}

#level-over-buttons {
    
}

#controls {
    width: 100%;
    box-sizing: border-box;
}

#progress-display {
    width: 100%;
    margin-bottom: 10px;
}

#sheep-remaining, #sheep-remaining-text {
    font-weight: bolder;
    font-size: 2.5rem;
}

#time-display {
    width: 100%;
    text-align: center;
}
#time-remaining[value] {
    --color: blue; /* the progress color */
    --background: #333333; /* the background color */
  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 80%;
    height: 39px;
    margin: 10px auto 10px auto;
    border-radius: 20px;
    background: var(--background);
}

#time-remaining[value]::-webkit-progress-bar {
    border-radius: 20px;
    background: var(--background);
}

#time-remaining[value]::-webkit-progress-value {
    border-radius: 20px;
    background: var(--color);
}

#time-remaining[value]::-moz-progress-bar {
    border-radius: 20px;
    background: var(--color);
}



#bark-button {
    width: 50%;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bolder;
}

#action-replay, #try-again {
    font-size: 1.2rem;
}

#next-level {
    font-size: 1.6rem;
}

footer {
    position: absolute;
    bottom: 0;
}
