* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    font-size: 20px;
    background-color: black;
    color: red;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

button {
    font-family: inherit;
    background-color: orange;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
}

span {
    background-color: black;
    color: blue;
    font-size: 1.5em;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

#game-ui {
    margin: 0 auto;
    max-width: 450px;
    width: 100%;
    height: 100%;
    text-align: center;
}

#displays {
    margin: 0 auto;
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#game-area {
    width: 95%;
    height: auto;
    aspect-ratio: 0.8;
    background-color: green;
    box-sizing: border-box;
    position: relative;
}

#controls {
    /* border: 1px solid blue; */
    width: 100%;
    box-sizing: border-box;
}

#progress-display {
    width: 100%;
    margin-bottom: 10px;
}

#zero-sheep {
    width: 15%;
}

#departed-sheep {
    width: 70%;
}

#total-sheep {
    width: 10%;
}

#time-display {
    width: 100%;
    text-align: center;
}

#time-remaining {
    width: 70%;
    margin: 0 auto 10px auto;
}

#bark-button {
    width: 50%;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bolder;
}

#info, #play-pause {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

footer {
    position: absolute;
    bottom: 0;
}
